* {
  box-sizing: border-box;
  font-family: Monospace, Monaco;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #341270;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: #7C3EE7;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #5315BE;
}

.navbar {
  padding: 5px;
  margin: 0;
  background: #641ADA;
}

/* This CSS styles the ufo icon in the navbar */
.nav-ufo {
  position: absolute;
  bottom: 6px;
  left: 165px;
  width: 35px;
  color: white;
}
/* Adding styles to the aside and filter form */
.ufo-form {
  margin-top: 50px;
}

.filters .panel-body {
  padding: 0;
}

.filters {
  margin-top: 0px;

}

.panel{
  background: #000000;
}
.filter{
  background: #000000;

}
.btn-default{
  position: absolute;
  top: 500px;
  left: 30px;
  background: #F3C03A;
  border-style: solid;
  border-width: 2.5px;
  border-color: #000000;
  color: #000000;
}

.btn-default:hover {
  color: #000000;
  background-color: white;
  border-style: solid;
  border-width: 2.5px;
  border-color: #000000;
}
select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #B86FF0;
  outline: none;
  background: #641ADA;
}
.table-head{
  background-color: #000000;
  color: #A784FF;
  text-align: center;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 2.5px solid #000000;
  background-color: #84A1FF;
  color: #000000;
  font-family: Monospace, Monaco;
  font-size: 20px;
  font-weight: bold;
}

th, td {
  text-align: center;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #BAD0FF;
}


.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 550px;
  padding: 20px;
  margin: 0;
  background: black;
  background-image: url("../images/rick_and_morty.png");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  margin-top: 10px;
  -webkit-text-stroke: 2px #000000;
  font-family: tahoma; color: #641ADA;
  animation: title 1.2s forwards linear;
}

.hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
  color: #000000;
}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #CDD0E5;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #0E26C3;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #263EE5;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #263EE5;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: center;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  }

  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
